@charset"utf-8";
body{
	margin: 0;
	padding: 0; 
}
#all{
	width: 100%;
	height: auto;
	margin: auto;
	padding: auto;
}
#nva_phone{
	width: 100%;
	height: 46px;
	background-color: brown;
}
#header{
	width: 100%;
	height: 260px;
	background-color: #93FFC4;
	padding-top: 140px;
}
#headerTOP{
	display: none;
}
#headerTOPR{
	width: 20%;
	height: 32px;
	background-color: #CD313A;
	float: right;
}
#headerMIDtext{
	height: 55px;
	width: 343px;
	background-color: #3DC16F;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 24px;
}				
#headerMIDtextup{
    height: 30px;
    width: 125px;
    background-color: #C33B84;
    margin-right: auto;
	margin-left: auto;
    margin-bottom: 8px;
}
#headerMIDtextdown{
	height: 17px;
	width: 343px;
    background-color: #CC9032;

}
#headerBOTTOM{
	width: 100%;
	height: 44px;
	background-color: #CF3F2F;
	background-color: rgba(0, 0, 0, 0)
}
#headerBOTTOMtext{
	height: 44px;
	width: 737px;
	background-color: #B6FF00;
	margin-right: auto;
	margin-left: auto;
}
#contentTOP{
	width: 100%;
	height: 150px;
	background-color: #9D8F61;
}
#contentMID{
	width: 100%;
	height: auto;
	background-color: red;	
}
#contentMIDpic{
    width: 100%;
    height: auto;
    background-color: white;
}
#contentMIDpic1{
	width: 100%;
	height: 345px;
	background-color: #7154AA;
}
#contentMIDpic2{
	width: 100%;
	height: 345px;
	background-color: #3C7DC2;
}
#contentMIDpic3{
    width: 100%;
	height: 345px;
	background-color: #B04E5B;
}
#contentBOTTOM{
	display: none;
}

#contentBOTTOMtext{
	width: 315px;
	height: 42px;
	background-color: #7F7F7F;
	margin-right: auto;
	margin-left: auto;
}